
/*1st Section*/

body{
    margin: 4%;
    font-family: Arial, sans-serif;
}

.banner{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 40px;

}

h5{
    font-size: 20px;
    opacity: 60%;
    font-style: bold;
}
h2{
    font-size: 50px;
    font-style: bold;
}
.bannerimg{
    display: flex;

}

.bannerbtn{
    padding: 15px;
    background-color: #006A50;
    color: #fff;
    border-radius: 15px;
    font-size: medium;
    font-size: 24px;
    
}
.bannerbtn:hover{
    background-color: #62cfaf ;
    color: #141414;
    transition: background-color 0.5s ease;
}



/*2nd Section*/


.container{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.visionSection h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 10px;
    color: #222222;
}
  
.visionSection p {
    text-align: left;
    font-size: 16px;
    color: #555555; 
    line-height: 1.6;
}
.digitalCard{
    background-color:#D5E1F5;
    padding: 25px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 350px;

}
.greenCard{
    background-color: #C6E4D6;
    padding: 25px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 350px;
}

.mordernCard{
    background-color: #F7EBCF;
    padding: 25px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 350px;
}

.bluebtn{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    font-size: 18px;
}

.bluebtn:hover {
    background-color: #10437a;
    border-color: #000000;
    transition: background-color 0.5s ease;
  }


.greenbtn{
    background-color: #09A15C;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20x;
    font-size: 18px;
}
.greenbtn:hover {
    background-color: #005822;
    border-color: #000000;
    transition: background-color 0.5s ease;
  }


.yollowbtn{
    background-color: #FFC239;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}
.yollowbtn:hover {
    background-color: #aa7f1b;
    border-color: #000000;
    transition: background-color 0.5s ease;
  }


/*3rd Section*/
.recentNews {
    background-color: #f0f0f0;
    padding: 40px 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin-top: 30px;
}
  
.newsHeader {
    text-align: center;
    margin-bottom: 40px;
}
  
.newsHeader h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 10px;
    color: #222222;
}
  
.newsHeader p {
    text-align: left;
    font-size: 16px;
    color: #555555; 
    line-height: 1.6;
}
  
.newsCard {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
}
  
.newsImage img {
    border-radius: 12px;
    width: 300px;
    height: auto;
}
  
.newsContent {
    display: flex;
    flex-direction: column;
}
  
.newsContent h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #222222; 
}
  
.newsMeta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555555; 
}

  
.newsMeta img.newsSource {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
  
.newsContent p {
    margin-bottom: 20px;
    color: #444444; 
}
  
.readMore {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007b33;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.readMore:hover {
    background-color: #005822;
    
}
.dateTime{
    font-size: 14px;
    color: #444444;
}

#r1{
    margin-top: 20px;
}

#r2{
    margin-top: 20px;
}


/*4th section*/

.donateSection {
    background-color: #f0f0f0;
    padding: 40px 20px;
    border-radius: 12px;
    max-width: 1200px;
    margin-top: 30px;
    text-align: center;
  }
  
  .donateSection h1 {
    font-size: 36px;
    color: #222222;
    margin-bottom: 10px;
  }
  
  .donateSection p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .donationOptions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .donationOption {
    font-size: 24px; 
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .donationOption:hover {
    background-color: #e0ffe0;
    border-color: #5cb85c;
  }
  
  .donationOption.active {
    background-color: #d4f5d4;
    border-color: #4cae4c;
  }
  
  .donationOption:hover {
    border-color: #007b33;
  }
  
  .customAmountInput {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
  }
  
  .customAmountInput:focus {
    border-color: #007b33;
  }
  
  .donateButton {
    background-color: #007b33;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .donateButton:hover {
    background-color: #005822;
  }
  
  /*first challenge section*/
  .newsletter {
    background-color: #e0f2f7;
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0;
    
  }
  
  .newsletterContent {
    text-align: center;
  }
  
  .newsletter h2 {
    color: black;
    margin-bottom: 10px;
  }
  
  .newsletter p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .newsletterForm {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 300px;
    color: black;
  }
  
  .newsletter button {
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .newsletter button:hover {
    background-color: #006666;
  }
  .newsletterPromise{
      font-size: 12px;
      margin-top: 10px;
  }


  /*Quote Section*/
 .quoteSection {
    margin-top: 25px;
    background-color: #f8f9fa;
  }
  
 .quoteContainer {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
  }

 .quote {
    margin-left: 10px;
    margin-bottom: 20px;
    font-style: italic;
    color: #333;
    line-height: 1.6;
  }
  
 .quote p{
    font-size: 16px;
  }
  
 .quoteAuthor {
    padding-left: 10px;
    text-align: left;
  }
  
 .authorName {
    font-weight: bold;
    color: #000;
  }
  
 .authorTitle {
    color: #666;
    font-size: 14px;
  }


/*footer section*/

.footer {
    background-color: #fff;
    padding: 30px 0;
    border-top: 1px solid #eee;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footerLogo {
    font-weight: bold;
    margin-right: 20px;
}

.footerSocial {
    display: flex;
    gap: 20px;
}

.footerSocial img {
    display: flex;
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.footerSocial a:hover img {
    opacity: 0.7;
}